.cuisine-option {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid navy;
    margin-top: 100px;
    margin-left: 50px;
    
}

.indian {
    width: 100%;
    height: 200px;
    background: rgb(60, 24, 24);
    margin-right: 100px;
}
.indian img {
    height: 100px;
    width: 200px;

}
.indian p {
    color: white;
}
.mexican {
    width: 100%;
    height: 200px;
    background: rgb(60, 24, 24);
    margin-left: 50px;
}
.mexican img {
    height: 100px;
    width: 200px;

}
.mexican p {
    color: white;
}

